<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I am Luke Shin</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <img id="grow" src="../../static/img/Logo-hr.png" alt="Logo">
            <ul>
                <li><a id="grow" href="/">Home</a></li>
                <li><a id="grow" href="#about">About</a></li>
                <li><a id="grow" href="#project">Project</a></li>
                <li><a id="grow" href="#work">Work</a></li>
                <li><a id="grow" href="#edu">Education</a></li>
                <li><a id="grow" href="#language">Language</a></li>
                <li><a id="grow" href="#contact">Contact</a></li>
            </ul>
            <details>
                <summary class="fa-solid fa-bars"></summary>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#project">Project</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#edu">Education</a></li>
                    <li><a href="#language">Language</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </details>
        </nav>
        <article>
            <h1>
                I am Luke Shin
            </h1>
            <span>
                Software Developer
            </span>
            <aside class="ani-slide">
                <a id="grow" target="_blank" href="https://github.com/LukeShin3022" class="fa-brands fa-git"></a>
                <a id="grow" target="_blank" href="https://www.linkedin.com/in/luke-shin-53180a243" class="fa-brands fa-linkedin-in"></a>
            </aside>
        </article>
    </header>
    <main>
        <section class="about" id="about">
            <h2>About ME</h2>
            <article>
                <figure>
                    <img src="../../static/img/me.jpg" alt="Me">
                </figure>
                <section>
                    <h3>
                        [This is me, the prepared web developer]
                    </h3>
                    <p>
                        I have experience in researching the de-identification of personal information in corporate research institutes of information security solution companies with web firewalls and personal information protection solutions.
                    </p>
                    <p>
                        In addition, I has experience in consulting such as consulting on establishing an information protection management system, diagnosing web vulnerabilities, and secure coding consulting.
                        I Have knowledge of web services and networks.
                    </p>
                    <p>
                        Separately, I got a bachelor's degree in computer science and a master's degree in computer science.
                    </p>
                </section>
            </article>
        </section>
        <section class="project" id="project">
            <h2>Project Experience</h2>
            <article>
                <figure>
                    <img src="../../static/img/co-op.jpg" alt="Co-op">
                    <figcaption>
                        <small>Web Development(Co-op Program)</small>
                        <time>2022.JUN - 2023.OCT</time>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../../static/img/web.jpg" alt="Web diagnosis">
                    <figcaption>
                        <small>Web vulnerabilities diagnosis</small>
                        <time>2019.MAY - 2022.JAN</time>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../../static/img/research.jpg" alt="Research">
                    <figcaption>
                        <small>Research of the De-Identification</small>
                        <time>2015.SEP - 2017.DEC</time>
                    </figcaption>
                </figure>
            </article>
        </section>
        <section class="work" id="work">
            <h2>Work Experience</h2>
            <article>
                <aside>
                    <time>2019.MAY-2022.FEB</time>
                    <h3>
                        Information Security Consultant <h4>Company: Secucen Co., Ltd</h4>
                    </h3>
                    <p>
                        Worked as a Security Consultant and performed ISP, Web security diagnosis(server, network device, secure coding), penetration testing and so on
                    </p>
                    <p>
                        Participated in the ISP project for the additional establishment of a computer center and the relocation of a disaster recovery center of the Korea Securities Depository
                    </p>
                    <p>
                       Participated in another ISP project for planning the authentication using biometric information for the Ministry of Foreign Affairs to enable non-face-to-face service 
                    </p>
                </aside>
                <aside>
                    <time>2018.SEP-2018.DEC</time>
                    <h3>
                        Researcher for Emergency Alert System <h4>Company: KETI(KOREA ELECTRONICS TECHNOLOGY INSTITUTE)</h4>
                    </h3>
                    <p>
                        In the event of a disaster, a study was conducted to spread the central government's disaster warning to public facilities and large-scale commercial facilities. Participated in a study to send disaster messages to alarm terminal devices using the Common Alert Protocol (CAP) in case of a disaster
                    </p>
                    <p>
                        Participated in a study for how to spread the alert in the study is that When the central government (main alarm control center) sends an alarm to each alarm terminal in various channels (PS-LTE, Satellite, Wired cable and so on), and the alarm terminal interprets the CAP to sound the alarm and message
                    </p>
                </aside>
                <aside>
                    <time>2018.FEB-2018.AUG</time>
                    <h3>
                        Product Manager <h4>Company: Wellconn Co.</h4>
                    </h3>
                    <p>
                        In terms of solution development, Developed how to providing statistical information to client(total number of connected sessions, CPU RAM and son), preparing and proposing research proposals for research on national budget, and certifying various companies (venture company certification, direct production certification, patent issuance, and intellectual property registration (program registration))
                    </p>
                </aside>
                <aside>
                    <time>2015.SEP-2017.DEC</time>
                    <h3>
                        Researcher for De-identification <h4>Company: Easycerti Co.</h4>
                    </h3>
                    <p>
                        The purpose of de-identification is to market or trade data using data, and de-identification data can be combined with data from other companies under government supervision, and the combined data becomes strong information
                    </p>
                    <p>
                        Participated in de-identification for how to handle the abstract concept of de-identification with computing. Specifically, K-anonymity, L-diversity, and T-Closeness were studied
                    </p>
                </aside>
            </article>
        </section>
        <section class="edu" id="edu">
            <h2>Education</h2>
            <article>
                <aside>
                    <time>2022-2023</time>
                    <h3>Web Development</h3>
                    <small>Tamwood Career(International College) - Canada</small>
                </aside>
                <aside>
                    <time>2013-2015</time>
                    <h3>Computer Science(Master's dgree)</h3>
                    <small>Soongsil Univ. - South Korea</small>
                </aside>
                <aside>
                    <time>2007-2012</time>
                    <h3>Computer Science(bachelor's dgree)</h3>
                    <small>Hoseo Univ. - South Korea</small>
                </aside>
            </article>
        </section>
         <section class="skill" id="skill">
            <h2>Skill</h2>
            <article>
                <aside>
                    <h3>Programing Language</h3>
                    <div class="prolang">
                        <ul>
                            <li>
                                <p>Python</p>
                            </li>
                            <li>
                                <p>PHP</p>
                            </li>
                            <li>
                                <p>Javascript</p>
                            </li>
                            <li>
                                <p>C</p>
                            </li>
                            <li>
                                <p>HTML 5</p>
                            </li>
                            <li>
                                <p>CSS</p>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside>
                    <h3>Tool/Library/Framework</h3>
                    <div class="tool">
                        <ul>
                            <li>
                                <p>Flask</p>
                            </li>
                            <li>
                                <p>React</p>
                            </li>
                            <li>
                                <p>Vue.js</p>
                            </li>
                            <li>
                                <p>Node.js</p>
                            </li>
                            <li>
                                <p>Ajax</p>
                            </li>
                            <li>
                                <p>Git</p>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside>
                    <h3>Database</h3>
                    <div class="db">
                        <ul>
                            <li>
                                <p>MariaDB(MySQL)</p>
                            </li>
                            <li>
                                <p>PostgreSQL</p>
                            </li>
                            <li>
                                <p>Oracle</p>
                            </li>
                            <li>
                                <p>MongoDB</p>
                            </li>
                        </ul>
                    </div>
                </aside>
            </article>
        </section>
        <section class="language" id="language">
            <h2>Language</h2>
            <article>
                <aside>
                    <h3>English</h3>
                    <div class="eng">
                        <ul>
                            <li>
                                <p>Speaking</p>
                            </li>
                            <li>
                                <p>Listening</p>
                            </li>
                            <li>
                                <p>Reading</p>
                            </li>
                            <li>
                                <p>Writing</p>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside>
                    <h3>Korean</h3>
                    <div class="kor">
                        <ul>
                            <li>
                                <p>Speaking</p>
                            </li>
                            <li>
                                <p>Listening</p>
                            </li>
                            <li>
                                <p>Reading</p>
                            </li>
                            <li>
                                <p>Writing</p>
                            </li>
                        </ul>
                    </div>
                </aside>
            </article>
        </section>
        <section class="contact" id="contact">
            <h2>Contact</h2>
            <div class="cont">
                <ul>
                    <li><h3>Email: </h3><h4>jwshin3022@gmail.com</h4></li>
                    <li><h3>Phone: </h3><h4>(236)998-9847</h4></li>
                    <li><h3>linkedin: </h3><h4><a href="https://www.linkedin.com/in/luke-shin-53180a243/">https://www.linkedin.com/in/luke-shin-53180a243/</a></h4></li>
                    <li><h3>GitHub: </h3><h4><a href="https://github.com/LukeShin3022">https://github.com/LukeShin3022</a></h4></li>
                </ul>
                
            </div>
        </section>
    </main>
    <footer>
        <figure>
            <img id="grow" src="../../static/img/Logo-vt.png" alt="Logo">
            <figcaption>
                <small>
                    &copy; All rights reserved. Luke
                </small>
            </figcaption>
        </figure>
        <aside>
            <a id="grow" target="_blank" href="https://github.com/LukeShin3022/" class="fa-brands fa-git"></a>
            <a id="grow" target="_blank" href="https://www.linkedin.com/in/luke-shin-53180a243/" class="fa-brands fa-linkedin-in"></a>
        </aside>
    </footer>
</body>
</html>